<div>
  <div [ngClass]="{'iframe-wrapper': !showbutton, 'iframe-wrapper-info': showbutton}">
    <iframe
      id="inlineFrameExample"
      title="Inline Frame Example"
      src="https://demo.f4map.com"
    ></iframe>
    <div class="navigation">
      <div class="button-wrapper">
        <button (click)="showElement(showbutton, 'biodiversity')">
          <img src="../assets/Imagenes/Biodiversity Logo.png" alt="">
        </button>
        <button (click)="showElement(showbutton, 'climate')">
          <img src="../assets/Imagenes/Climate Action Logo.png" alt="">
        </button>
        <button (click)="showElement(showbutton, 'compilance')">
          <img src="../assets/Imagenes/Compliance Logo.png" alt="">
        </button>
        <button (click)="showElement(showbutton, 'susta')">
          <img src="../assets/Imagenes/Sustainability Logo.png" alt="">
        </button>
      </div>
    </div>
  </div>
  <button class="button-global">
    <img src="../assets/Imagenes/Global.png" alt="">
  </button>
  <button class="button-proponent">
    <img src="../assets/Imagenes/Proponent.png" alt="">
  </button>
  <div class="ñapa"></div>
  <div [ngClass]="{'info': showbutton, 'infoNone': !showbutton}" class="info">
    <img class="imgToShow" src="{{imgToShow}}" alt="">
  </div>
</div>

